<div class="mb-3">
  <form
    [formGroup]="todoForm"
    (ngSubmit)="onAdd()"
    class="d-flex justify-content-center align-items-center gap-2"
  >
    <div class="d-flex flex-grow-1 gap-2">
      <input
        type="text"
        id="todo"
        class="form-control"
        placeholder="Enter todo..."
        formControlName="todo"
      />
      <select class="form-select" formControlName="priority">
        <option value="" selected disabled>priority</option>
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select>
    </div>
    <button [disabled]="!todoForm.valid" type="submit" class="btn btn-primary">
      <i class="bi bi-plus-lg"></i> Add
    </button>
  </form>
</div>
