<div class="container my-4 p-4 shadow rounded bg-light">
  <h2 class="mb-3 fw-bold text-center heading">
    <span> <i class="bi bi-bank2"></i></span>
    Bank Application
    <span> <i class="bi bi-bank2"></i></span>
  </h2>
  <form [formGroup]="applicationForm">
    <div class="mb-4">
      <div class="row">
        <div class="col-lg-8">
          <h3 class="mb-3 text-primary fw-bold heading">Personal Details</h3>
          <div class="row g-3">
            <div class="col-md-4">
              <label for="firstName" class="form-label">First Name</label>
              <div class="input-group shadow-sm">
                <span class="input-group-text bg-light"
                  ><i class="bi bi-person-fill"></i
                ></span>
                <input
                  id="firstName"
                  formControlName="fName"
                  class="form-control border-2"
                  placeholder="Enter your first name"
                />
              </div>
            </div>
            <div class="col-md-4">
              <label for="middleName" class="form-label">Middle Name</label>
              <div class="input-group shadow-sm">
                <span class="input-group-text bg-light"
                  ><i class="bi bi-person-lines-fill"></i
                ></span>
                <input
                  id="middleName"
                  formControlName="mName"
                  class="form-control border-2"
                  type="text"
                  placeholder="Enter your middle name"
                />
              </div>
            </div>
            <div class="col-md-4">
              <label for="lastName" class="form-label">Last Name</label>
              <div class="input-group shadow-sm">
                <span class="input-group-text bg-light"
                  ><i class="bi bi-person-badge-fill"></i
                ></span>
                <input
                  id="lastName"
                  formControlName="lName"
                  class="form-control border-2"
                  type="text"
                  placeholder="Enter your last name"
                />
              </div>
            </div>
          </div>
          <div class="row g-3 mt-3">
            <div class="col-md-7">
              <label for="fullName" class="form-label">Full Name</label>
              <input
                id="fullName"
                formControlName="fullName"
                class="form-control border-2 shadow-sm"
                placeholder="Enter your full name"
                readonly
              />
            </div>
          </div>
          <!-- <div class="row g-3 mt-3">
            <div class="col-md-7">
              <label for="martial-status" class="form-label"
                >Martial Status</label
              >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="martialStatus"
                  id="single"
                  value="single"
                />
                <label class="form-check-label" for="single"> Single </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="martialStatus"
                  id="married"
                  value="married"
                />
                <label class="form-check-label" for="married"> Married </label>
              </div>
            </div>
          </div>

          <div *ngIf="martialStatusValue === 'married'" class="row g-3 mt-1">
            <div class="col-md-7">
              <label for="spouseName" class="form-label">Spouse Name</label>
              <div class="input-group shadow-sm">
                <span class="input-group-text bg-light"
                  ><i class="bi bi-person-fill"></i
                ></span>
                <input
                  id="spouseName"
                  formControlName="spouseName"
                  class="form-control border-2"
                  placeholder="Enter spouse's name"
                />
              </div>
            </div>
          </div> -->

          <hr />
          <h3 class="mb-3 text-primary fw-bold heading">Job Details</h3>
          <div class="row">
            <div class="col-md-4">
              <input
                type="radio"
                formControlName="employmentStatus"
                value="working"
                id="working"
              />
              <label for="working" class="form-label ms-2"> Working</label>
            </div>

            <div class="col-md-4">
              <input
                type="radio"
                formControlName="employmentStatus"
                value="business"
                id="business"
              />
              <label for="business" class="form-label ms-2"> Business</label>
            </div>
            <div class="col-md-4">
              <input
                type="radio"
                formControlName="employmentStatus"
                value="unemployed"
                id="unemployed"
              />
              <label for="unemployed" class="form-label ms-2">
                Unemployed</label
              >
            </div>
          </div>
          <div
            *ngIf="applicationForm.get('employmentStatus')?.value === 'working'"
            class="row mt-3"
            formGroupName="workDetails"
          >
            <div class="col-md-4">
              <label for="jobType" class="form-label">Select Job Type</label>
              <select
                id="jobType"
                formControlName="jobType"
                class="form-select border-2 shadow-sm"
              >
                <option disabled value="">Select...</option>
                <option value="Government Job">Government Job</option>
                <option value="Private Job">Private Job</option>
              </select>
            </div>

            <div class="col-md-4">
              <label for="position" class="form-label">Position</label>
              <div class="input-group shadow-sm">
                <span class="input-group-text bg-light"
                  ><i class="bi bi-person-workspace"></i
                ></span>
                <input
                  id="position"
                  formControlName="position"
                  class="form-control border-2"
                  placeholder="Enter your position"
                />
              </div>
            </div>
            <div class="col-md-4">
              <label for="salary" class="form-label">Salary</label>
              <div class="input-group shadow-sm">
                <span class="input-group-text bg-light"
                  ><i class="bi bi-currency-dollar"></i
                ></span>
                <input
                  id="salary"
                  formControlName="salary"
                  class="form-control border-2"
                  placeholder="Enter your salary"
                />
              </div>
            </div>
          </div>
          <div
            *ngIf="
              applicationForm.get('employmentStatus')?.value === 'business'
            "
            formGroupName="businessDetails"
          >
            <div class="row mt-3">
              <div class="col-md-4">
                <label for="company" class="form-label">Business Name</label>
                <div class="input-group shadow-sm">
                  <span class="input-group-text bg-light"
                    ><i class="bi bi-building"></i
                  ></span>
                  <input
                    id="company"
                    formControlName="businessName"
                    class="form-control border-2"
                    placeholder="Enter your company name"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <label for="position" class="form-label">Business Type</label>
                <div class="input-group shadow-sm">
                  <span class="input-group-text bg-light"
                    ><i class="bi bi-briefcase"></i
                  ></span>
                  <input
                    id="position"
                    formControlName="businessType"
                    class="form-control border-2"
                    placeholder="Enter your business type"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <label for="salary" class="form-label">Annual Income</label>
                <div class="input-group shadow-sm">
                  <span class="input-group-text bg-light"
                    ><i class="bi bi-currency-dollar"></i
                  ></span>
                  <input
                    id="salary"
                    formControlName="annualIncome"
                    class="form-control border-2"
                    placeholder="Enter your annual income"
                  />
                </div>
              </div>
            </div>
            <div class="row g-3 mt-3">
              <div class="col-md-6">
                <label for="company" class="form-label">Business Address</label>
                <div class="input-group shadow-sm">
                  <span class="input-group-text bg-light"
                    ><i class="bi bi-building"></i
                  ></span>
                  <textarea
                    id="company"
                    formControlName="address"
                    class="form-control border-2"
                    placeholder="Enter your company name"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-4">
          <h3 class="mb-3 text-primary fw-bold heading">Contact Details</h3>

          <div class="row g-3">
            <div class="col-md-6">
              <label for="personalEmail" class="form-label"
                >Personal Email</label
              >
              <div class="input-group shadow-sm">
                <span class="input-group-text bg-light"
                  ><i class="bi bi-envelope"></i
                ></span>
                <input
                  id="personalEmail"
                  formControlName="personalEmail"
                  class="form-control border-2"
                  placeholder="Enter personal email"
                />
              </div>
            </div>
            <div class="col-md-6">
              <label for="officialEmail" class="form-label"
                >Official Email</label
              >
              <div class="input-group shadow-sm">
                <span class="input-group-text bg-light"
                  ><i class="bi bi-envelope"></i
                ></span>
                <input
                  id="officialEmail"
                  formControlName="officialEmail"
                  class="form-control border-2"
                  placeholder="Enter official email"
                />
              </div>
            </div>
          </div>
          <div formArrayName="contactList">
            @for(contact of contacts.controls; track $index){

            <div class="row g-2 mt-1" [formGroupName]="$index">
              <div class="col-10 col-md-8">
                <label for="mobile1" class="form-label"
                  >Mobile No {{ $index + 1 }}</label
                >
                <div class="input-group shadow-sm">
                  <span class="input-group-text bg-light"
                    ><i class="bi bi-telephone"></i
                  ></span>
                  <input
                    id="mobile1"
                    formControlName="contactNo"
                    class="form-control border-2"
                    placeholder="Enter mobile number"
                  />
                </div>
              </div>
              <div class="col-2 col-md-4 d-flex align-items-end">
                <button
                  *ngIf="contacts.length > 1"
                  class="btn w-100 text-white"
                  style="
                    background: linear-gradient(to right, #ff416c, #ff4b2b);
                  "
                  (click)="removeContact($index)"
                >
                  Remove
                </button>
              </div>
            </div>

            }
          </div>
          <button
            *ngIf="contacts.length <= 1"
            (click)="addNewConatctForm()"
            class="btn btn-sm btn-primary mt-2 addmore"
          >
            Add More
          </button>
        </div>
      </div>
    </div>
    <hr />

    <div class="d-flex justify-content-center gap-2">
      <button
        (click)="onSubmit()"
        class="btn text-white"
        style="background: linear-gradient(to right, #00c6ff, #0072ff)"
      >
        Submit
      </button>
      <button
        class="btn text-white"
        style="background: linear-gradient(to right, #11998e, #38ef7d)"
      >
        Patch Form
      </button>
      <button
        class="btn text-white"
        style="background: linear-gradient(to right, #ff5f6d, #ffc371)"
      >
        Set Form
      </button>
    </div>
  </form>
</div>
