<div class="container my-4">
  <h2 class="text-center mb-4 fw-bold">My Angular Projects</h2>

  <div class="row g-4">
    @for (item of componentsData; track $index) {
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card shadow border-0">
        <!-- Project Image -->

        <div class="card-body">
          <!-- Project Title -->
          <h5 class="card-title mb-5">{{ item.label }}</h5>

          <div class="d-flex justify-content-end">
            <a [routerLink]="item.routerLink" class="btn btn-primary"> View </a>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
