<div class="container">
  <h3>{{ formData.formTitle }}</h3>

  <form #myFroms="ngForm" [formGroup]="myForm">
    <div class="row">
      @for (control of formData.formControls; track $index) { @if
      (['text','email','password','number','date'].includes(control.type)) {
      <div class="form-group" [class]="control.class">
        <label for="exampleInputEmail1">{{ control.label }}</label>

        <input
          formControlName="{{ control.name }}"
          type="{{ control.type }}"
          class="form-control"
        />

        @if(myForm.get(control.name)?.touched &&
        myForm.get(control.name)?.invalid || myFroms.submitted){
        <small class="form-text text-danger">{{
          getValidationErrors(control)
        }}</small>
        }
      </div>
      }

      <!-- seclect type -->
      @if (control.type === 'select') {
      <div class="form-group" [class]="control.class">
        <label for="exampleInputEmail1">{{ control.label }}</label>
        <select formControlName="{{ control.name }}" class="form-control">
          <option selected value="">Choose..</option>
          @for (opt of control.options; track $index) {
          <option selected [value]="opt.value">{{ opt.value }}</option>
          }
        </select>
        @if(myForm.get(control.name)?.touched &&
        myForm.get(control.name)?.invalid || myFroms.submitted ){
        <small class="form-text text-danger">{{
          getValidationErrors(control)
        }}</small>
        }
      </div>

      }
      <!-- radio type -->
      @if (control.type === 'radio') {
      <div class="form-group" [class]="control.class">
        <label for="exampleInputEmail1">{{ control.label }}: </label>
        @for (row of control.radioOptions; track $index) {
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="{{ control?.name }}"
            type="radio"
            [value]="row"
            [id]="control.name + '-' + row"
          />
          <label [for]="control.name + '-' + row" class="form-check-label">{{
            row
          }}</label>
        </div>
        } @if(myForm.get(control.name)?.touched &&
        myForm.get(control.name)?.invalid || myFroms.submitted ){
        <small class="form-text text-danger">{{
          getValidationErrors(control)
        }}</small>
        }
      </div>

      } }
    </div>

    <button (click)="onSubmit()" type="submit" class="btn btn-primary">
      Submit
    </button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
